body {
    margin: 0;
    background: url(../images/bg-about.jpg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.box {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 20px;
}
/* header-style */
.header {
    background: url(../images/bg.jpg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;   
}
/* header-top-style */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: #FFF;
    position: relative;
    padding: 17px 20px;
    margin-bottom: 80px;
    border: 1px solid #D1D3E8;
}

.header-logo  {
    width: 100px;
}

.header-logo a {
    width: 100%;
    height: 100%;
    color: #4B0082;
    font-size: 24px;
    font-family: 'Castoro Titling', serif;
    text-decoration: none;
}

.header-nav__menu {
    display: flex;
    gap: 40px;
}

.header-list {
    list-style: none;
      
}

.header-top_link:hover {
    background: #2E8076;
    color: #fff;
    transition: all 0.3s;
    
}

.header-top_link {
    text-decoration: none;
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 12px;
    border-radius: 10px;
    transition: all 0.3s;
}

.header-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-phone a {
    text-decoration: none;
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal
}
/* header-center-style */
.header-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center__left-title{
    max-width: 453px;
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.header-center__right img {
    border-radius: 450px;
}
/* header-button-style */
.btn-head  {
    padding: 25px 44px;
    color: #000;
    font-weight: 700;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s;
}

.btn-head:hover{
    background: #2E8076;
    color: #fff;
    transition: all 0.5s;
}

.header-button {
    margin-bottom: 80px;
}

/* about-us-style */

.about-us {
    /* background: url(../images/bg-about.jpg); */
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.about-us__inner {
    max-width: 1000px;
    padding: 24px 30px;
    border-radius: 20px;
    background: #D7D9F9;
    margin: 0 auto;
}

.about-us__title {
    text-align: center;
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.about-us__text {
    text-indent: 4px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    }

/* servic-style */

.services {
    margin: 0 auto;
    background: none;
}

.services-inner__title {
    text-align: center;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.services-inner__subtitle {
    text-align: center;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

/* style slideshow */

.slideshow {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .slide {
    width: 600px;
    height: 323px;
    display: none;
    margin: 0 auto;
  }
  
  .btn-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #prevButton {
    left: 10px;
  }
  
  #nextButton {
    right: 10px;
  }

  .btn-slide  {
    background: #fff;
  }

  form {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
   }

   label {
    display: block;
    margin-bottom: 10px;
   }

   input[type="text"], textarea{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
   }

   input[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #3f51b5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   }

   input[type="submit"]:hover {
    background-color: #303f9f;
   }

   .texr_form {
    color: #303f9f;
   }
   










