.container-reg {
    margin: 0 auto;
    max-width: 1170px;
    padding: 20px;
}

.header-title {
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}